/__pycache__/
src/__pycache__/*
/advanced_rag.ipynb
/advanced_rag.py
/data
/datasets.ipynb
/download_datasets.py
/mp_worker.py
/outputs
*.sub
/wandb
*.pyc
src/__pycache__/vector_store.cpython-310.pyc
*.png
*.json
*.jsonl
*.csv
src/__pycache__/*.*
